center
  h1 Listing posts
  = render "view"
  = link_to 'New Post', new_post_path, class: "btn btn-secondary"
  
  
  
// Saving this because I can use the routing as an example.  It would be pretty
// easy to figure out, but it's here, why not keep it for the nonce
//
// table
//   thead
//     tr
//       th Title
//       th Content
//       th User
//       th
//       th
//       th

//   tbody
//     - @posts.each do |post|
//       tr
//         td = post.title
//         td = post.content
//         td = post.user
//         td = link_to 'Show', post
//         td = link_to 'Edit', edit_post_path(post)
//         td = link_to 'Destroy', post, data: { confirm: 'Are you sure?' }, method: :delete

// br

  
